/////////////////////////////////////////////////////////////
////////////////// MAIN TOP NAVIGATION BAR //////////////////
/////////////////////////////////////////////////////////////

nav.navbar {

	@media (max-width: 375px) {
		.navbar-brand {
			margin-right: 0;
		}
		.navbar-brand img {
			height: 35px !important;
		}
	}

	.nav-item.nav-link {
		color: white;
		font-size: 1.25rem;
		text-transform: uppercase;
		font-weight: bold;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	@include media-breakpoint-up(lg) {
		.nav-item.nav-link {
			font-size: 1rem;
		}
	}

	.nav-item.nav-link.active {
		color: $primary;
	}

	@include media-breakpoint-up(lg) {
		.nav-item.nav-link.active {
			color: white;
			border-bottom: 1px solid $primary;
		}
	}

	.nav-item.nav-link:hover {
		color: $primary;
	}
}

.mlh-badge {
	position: fixed;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	z-index: 10000;
}

#mlh-trust-badge {
	display: block;
	max-width: 100px;
	min-width: 60px;
	position: sticky;
	width: 10%;
	right: 20px;
	margin-top: -10px;
	
	@include media-breakpoint-up(lg) {
		margin-top: -40px;
	}
}