///////////////////////////////////////////////////////////////////
////////////////// GENERAL APPLICATION VARIABLES //////////////////
///////////////////////////////////////////////////////////////////

$headerHeight: 66px;
$footerHeight: 325px;

$sponsorPlaceholder: 350px;
$sponsorBig: 200px;
$sponsorMediumBig: 175px;
$sponsorMedium: 150px;
$sponsorSmall: 100px;
