@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap&subset=latin-ext');
@import "_theme";
@import "_navbar";
@import "~bootstrap/scss/bootstrap";

.app-content {
	background: #fcfcfc;
	// Has to be manually calculated.
	// First value is height of the window.
	// Second is height of the navbar.
	// Third is height of footer
	height: calc(100vh - 66px);
}

.footer-content {
	padding: 2rem;
}
