@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap&subset=latin-ext');
@import "_vars";
@import "_theme";
@import "~bootstrap/scss/bootstrap";
@import "_navbar";
@import "_welcome";
@import "_sponsors";

.app-content {
	background: white;
	// Has to be manually calculated.
	// First value is height of the window.
	// Second is height of the navbar.
	// Third is height of footer
	min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
}

.main-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3rem;
	width: 100%;

	@include media-breakpoint-up(sm) {
		width: 75%;
	}

	@include media-breakpoint-up(lg) {
		width: 50%;
	}
}

.footer-content {
	padding: 2rem;
}
